streamlit
pandas
gspread>=6.0.0
google-auth>=2.20.0
plotly
streamlit-geolocation
google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.125.0
requests>=2.31.0
streamlit-geolocation>=0.1.2
